@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    <div class="banner">
        <div class="box-form">
            <h2>
                <span>Món Ăn Chất Lượng</span>
                <br>
                <span>Đậm Chất Xứ Huế</span>
            </h2>
            <p>
                Chuyên cung cấp các món ăn đặc sản ẩm thực Huế.
                <br> Mang đến cho khách hàng những món ăn ngon và phục vụ tuyệt vời nhất.
            </p>
        </div>
    </div>


    <section id="home-section">
        <div class="best-seller">
            <h1>Best Seller của Quán</h1>
        </div>
        <!-- Danh sách các món ăn -->
        <div class="product-list">
            <!-- Mỗi món ăn được hiển thị dưới dạng một "product-item" -->
            <div class="product-item">
                <img src="~/Content/Images/bun-bo.jpg" alt="Bún Bò">
                <h3>Bún Bò</h3>
                <p class="price"><strong>35,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/bun_giam_nuoc.jpg" alt="Bún Giấm Nuốc">
                <h3>Bún Giấm Nuốc</h3>
                <p class="price"><strong>28,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/mi_quang.jpg" alt="Mì Quảng">
                <h3>Mì Quảng</h3>
                <p class="price"><strong>30,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/banh_beo.jpg" alt="Bánh Bèo">
                <h3>Bánh Bèo Huế</h3>
                <p class="price"><strong>28,000 VNĐ/dĩa</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/banh_khoai.jpg" alt="Bánh Khoái">
                <h3>Bánh Khoái</h3>
                <p class="price"><strong>15,000 VNĐ/cái</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/banh_canh_cua.jpg" alt="Bánh Canh Cua">
                <h3>Bánh Canh Cua</h3>
                <p class="price"><strong>35,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/banh_uot_thit_nuong.jpg" alt="Bánh Ướt Thịt Nướng">
                <h3>Bánh Ướt Thịt Nướng</h3>
                <p class="price"><strong>30,000 VNĐ/phần</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/com_hen.jpg" alt="Cơm Hến">
                <h3>Cơm Hến</h3>
                <p class="price"><strong>25,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/chao_hen.jpg" alt="Cháo Hến">
                <h3>Cháo Hến</h3>
                <p class="price"><strong>16,000 VNĐ/tô</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/nem_lui.jpg" alt="Nem Lụi">
                <h3>Nem Lụi</h3>
                <p class="price"><strong>7,000 VNĐ/xiên</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/che_hat_sen.jpg" alt="Chè Hạt Sen">
                <h3>Chè Hạt Sen</h3>
                <p class="price"><strong>15,000 VNĐ/cốc</strong></p>
            </div>
            <div class="product-item">
                <img src="~/Content/Images/che_ba_mau.jpg" alt="Chè Ba Màu">
                <h3>Chè Ba Màu</h3>
                <p class="price"><strong>20,000 VNĐ/ly</strong></p>
            </div>
        </div>
    </section>
</div>