@{
    ViewBag.Title = "Payment_Instructions";
}

<div class="container">
    <div class="main">
        <div class="Instruct">
            <h1>Hướng dẫn thanh toán</h1>
        </div>
    </div>
</div>